@import "../../../index.scss";

.btn {
  border-radius: 0;
  &:last-of-type {
    margin-bottom: 1.5rem;
    padding: 0.5rem 1rem;
  }
  .icon {
    margin-right: 0.5rem;
  }
  .text {
    font-weight: bold;
  }
}

.btn-light {
  color: $black;
  background-color: $white;
  font-size: 1rem;
  border: 2px solid $black !important;
  margin-bottom: 1rem;
  padding: 8px 5px;
  &:hover,
  &:focus,
  &:active {
    background-color: $white;
    color: $black;
    box-shadow: none;
    border: 2px solid $black !important;
    color: $dark-cyan !important;
  }
}
